<ion-header>
  <ion-toolbar>
    <ion-title>Listado de artículos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button routerLink="">
      Ir al Inicio
</ion-button>


<ion-content class="ion-padding">

  <ion-card *ngFor="let a of articulos">
    <ion-card-header>
      <ion-card-title>{{ a.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ a.categoria }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Precio:</strong> ${{ a.precio }}</p>
      <p><strong>Fecha:</strong> {{ a.fechaIngreso }}</p>
      <p><strong>Estado:</strong> {{ a.disponible ? 'Activo' : 'Inactivo' }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="confirmarBorrado()">
    Borrar todos los artículos
  </ion-button>

  <ion-button expand="block" fill="outline" routerLink="/registro">
    Volver al registro
  </ion-button>

</ion-content>
