<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>Componente inicial</p>

  <!-- Sección: Navegación principal -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/perfil">
          Ir al Perfil
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/galeria">
          Ir a Galería
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/registro">
          Ir a Registro
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/listado-registros">
          Ir al Listado de Registro
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/gallery">
          Ir a Gallery
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/chat">
          Ir a Chat
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/rm-graphql">
          GraphQL Rick & Morty
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" routerLink="/map-explorer">
          Ir al Mapa
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/media">
          Cámara y Micrófono
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
